services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U postgres -d db'"]
      interval: 5s
      timeout: 5s
      retries: 3
    environment:
      POSTGRES_DB: db
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: postgres
    ports:
      - 4444:5432
  app:
    image: node-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 3000:3000
  # cache:
  #   container_name: redis-cache
  #   image: redis:7-alpine
  #   depends_on:
  #     - db
  #   restart: unless-stopped
  #   ports:
  #     - 6379:6379
